.back-link{
    color: var(--secondary-color);
}

.student-page{
    display: flex;
   
    justify-content: center;
    gap: 10px;
    position: relative;
}
.main-content{
    flex: 1;
    padding-top: 120px;
}
.leftbar-content,.rightbar-content{
    position: sticky;
    height: 100vh;
    top: 0;
}
.Leftbar{
    height: 100%;
    background-color: var(--bg);
    
    width: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 120px;
    gap: 5px;
 
}
.Leftbar li{
     padding: 10px 15px;
      border-radius: 10px;

}
.Leftbar li a{
   
    text-decoration: none;
    color: var( --primary-color);
    font-weight: 600;

}
.Leftbar li:hover{
    background-color: #f4835d10;
   
    
}
.Leftbar .active{
     background-color: #f4835d10;
}
.classroom-header{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;

    padding-top: 94px;
    width: 100%;
    background-color: var(--bg);
    z-index: 90;
}
@media (max-width:700px) {
  .Leftbar{
       padding-top: 0;
    }
    .classroom-header{
        display: flex;
       
    }
    .classroom-header div{
        cursor: pointer;
        color: #20537c;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        font-weight: bold;
    }
    .leftbar-content{
        display: none;
        position: fixed;
        top: 18%;
        left: 0;
         height: calc(100vh - 125px);
    }
    .rightbar-content{
        display: none;
        position: fixed;
        top: 18%;
        right: 0;
         height: calc(100vh - 100px);

    }
    .main-content{
        padding-top: 0;
        width: 100%;
    }

    
}
.openbar{
    display: block;
    transition: all 0.5s ease;
    z-index: 100;
}

.Leftbar li {
 
  position: relative;
}





.Leftbar a {
 
  display: flex;
  align-items: center;
  gap: 8px;
}
/*prograss bar in active course*/
.progress-container {
    width: 100%;
    height: 16px;
    background: #e0e0e0;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 50px;
    background: linear-gradient(90deg, #20537c, #15253a); /* gradient from light blue to dark blue */
    transition: width 0.5s ease-in-out;
  }
  
  .progress-text {
    font-size: 12px;
    color: #333;
    margin-top: 5px;
    display: block;
    text-align: right;
  }
  